*{font-family: 'Bradley Hand', cursive;}
button {
  display: block;
  background-color: #e7e7e7;
  font-size: 20px;
  padding: 12px 28px;
  border-radius: 12px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

p{font-size: 20px;}

h2{font-size: 25px}

.card {
  width: 125px;
  height: 200px;
  border-radius: 8px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.container{
  min-width: 850px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.inactive {
  opacity: 0.8;
  filter: grayscale(100%)
}

.hidden {display: none;}

.blurred{filter: blur(5px);}

#newGameBtn{font-size: 12px;}

#helpBtn{
  z-index: 1;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  border-color: #a1a1a1;
}

#closeHelp {
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

#helpWindow{
  margin: auto;
  width: 40%;
  border: 3px solid gray;
  border-radius: 10px;
  background-color: #ededed;
  padding: 25px;
  position: absolute;
  left: 30%;
  top: 25%;
}

@media only screen and (max-width: 1870px) {
  #maincontainer{
    flex-flow: column nowrap;
  }
}
