button {
  display: block;
  background-color: #e7e7e7;
  font-size: 20px;
  padding: 12px 28px;
  border-radius: 12px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  width: 125px;
  height: 200px;
  border-radius: 8px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.inactive {
  opacity: 0.8;
  filter: grayscale(100%)
}

.container{
  min-width: 850px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


@media only screen and (max-width: 1870px) {
  #maincontainer{
    flex-flow: column nowrap;
  }
}
